body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(43, 43, 43);
}

.RootLocation {
    position: fixed;
    top: 2px;
    width: 100%;
    height: 25px;
    text-align: center;
    color: aliceblue;
    font-size: 30px;
    font-family: TeX;
}
.RootButton {
    position: fixed;
    top: 3px;
    width: 100%;
    height: 30px;
    text-align: center;
    color: aliceblue;
    opacity: .25;
}

.ButtonBar {
    position:fixed;
    top: 40px;
    width: 100%;
    height: 35px;
    text-align: center;
}
.SectionButton {
    position: relative;
    text-align: center;
    width:max-content;
    height: 100%;
    font-size: 30px;
    font-weight: normal;
    font-family: TeX;
}

.MainFrame {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 80px;
    height: inherit;
    outline: 1;
}