body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(43, 43, 43);
}

@font-face {
    font-family: Website;
    src: url("Barriecito-Regular.ttf");
}

.RootLocation {
    position: fixed;
    top: 2px;
    width: 100%;
    height: 25px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: Website;
}
.RootButton {
    position: fixed;
    top: 3px;
    width: 100%;
    height: 30px;
    text-align: center;
    color: aliceblue;
    opacity: .25;
}

.ButtonBar {
    position:fixed;
    top: 40px;
    width: 100%;
    height: 35px;
    text-align: center;
}
.SectionButton {
    position: relative;
    text-align: center;
    width:max-content;
    height: 100%;
    font-size: 30px;
    font-family: Website;
}

.MainFrame {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 80px;
    bottom: 35px;
    height: max-content;
    outline: 1;
}


.LinksDiv {
    position: absolute;
    bottom: 5px;
    width: 100%;
    height: 25px;
    text-align: center;
}
.Link {
    position: relative;
    text-align: center;
    width:max-content;
    height: 100%;
    font-size: 20px;
    font-family: Website;

    color: white;
    background: none;
    border: none;
}